@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


[data-theme="light"] {
  --background-color: white;
  --background: white;
  background-image: url('../app/assets/Img/gg.jpg');
  --text-color: black;
 
}
body{
  background: url('../app/assets/Img/gg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

[data-theme="dark"] {
  --background-color: black;
  background-image: url('../app/assets/Img/gg.jpg');
--background: black;
  --text-color: white;
  
 
}




body {
  background-color: var(--background-color);
  color: var(--text-color);
 
}


